{% for candidato in site.data.candidatos %}
<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
    <img src="{{ candidato.img }}" alt="{{ candidato.name }}" />
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>{{ candidato.name }}</h3>
      <h4>{{ candidato.profesion }}</h4>
      <h4>Partido: {{ candidato.partido }}</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>
{% endfor %}


<!-- <div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Lic. Danilo Medina</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Luis Abinader</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Guillermo Moreno</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Amable Aristi</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Pelegrin Castillo</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Juan Cohen Sander</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn" >Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Saraya Aquino</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Elias Wessin Chavez</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h3>
    <h3>Votos</h3>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Guillermo Moreno</h3>
      <h4>Actual Presidente</h4>
      <h4>De La Republica</h4>
    </div>
    <hr>
    <a href="#" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div> -->
