{% for candidato in site.data.candidatos %}
<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
    <img src="{{ candidato.img }}" alt="{{ candidato.name }}" />
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>{{ candidato.name }}</h3>
      <h4>{{ candidato.profesion }}</h4>
      <h4>Partido: {{ candidato.partido }}</h4>
    </div>
    <hr>
    <a href="{{ candidato.wiki }}" target="_blank" class="mas-info-btn">Mas Info</a>
  </div>
  <div class="votos-candidatos">
    <h3 id="{{ candidato.id }}">0</h3>
    <h3>Votos</h3>
    <button type="button" name="button" value="no-voted" class="votar-btn votos-{{ candidato.id }}">Votar</button>
  </div>
</div>
{% endfor %}
