<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Lic. Danilo Medina</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Luis Abinader</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Guillermo Moreno</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Amable Aristi</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Pelegrin Castillo</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Juan Cohen Sander</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn" >Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Saraya Aquino</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Elias Wessin Chavez</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>

<div class="jumbotron candidatos-container">
  <div class="img-candidatos">
  </div>
  <div class="datos-candidatos">
    <div class="text-candidatos">
      <h3>Guillermo Moreno</h2>
      <h4>Actual Presidente</h3>
      <h4>De La Republica</h3>
    </div>
    <hr>
    <button type="button" name="button" class="mas-info-btn">Mas Info</button>
  </div>
  <div class="votos-candidatos">
    <h3>76</h4>
    <h3>Votos</h4>
    <button type="button" name="button" class="votar-btn">Votar</button>
  </div>
</div>
