<footer class="site-footer">
  <div class="footer-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="logo logo-footer">
      <img src="img/escudo_dominicano.png" alt="escudo dominicano" />
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="footer-info">
      <div class="social-footer">
        <h5>Comparte con tus amigos:</h5>
        <i class="fa fa-facebook-square fa-2x"></i>
        <i class="fa fa-google-plus-square fa-2x"></i>
        <i class="fa fa-twitter-square fa-2x"></i>
      </div>
      <ul class="navbar-footer">
        <li><h5>Made with <i class="fa fa-heart"></i> by <a href="http://www.endesigner.co">Enzo Vezzaro</a></h5></li>
        <li><h5 class="policy-link">Policy</h5></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</footer>
