<footer class="site-footer">
  <div class="footer-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="logo logo-footer">
      <img src="img/escudo_dominicano.png" alt="escudo dominicano" />
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="footer-info">
      <div class="social-footer">
        <h5>Comparte con tus amigos:</h5>
        <div class="social-icons">
          <a href='https://www.facebook.com/sharer/sharer.php?u=http%3A//www.eligetupresidenterd.com' target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href='https://plus.google.com/share?url=http%3A//www.eligetupresidenterd.com' target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
          <a href='https://twitter.com/home?status=%23eligetupresidenterd2016' target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        </div>
      </div>
      <ul class="navbar-footer">
        <li><h5>Made with <i class="fa fa-heart"></i> by <a href="http://www.endesigner.co">Enzo Vezzaro</a></h5></li>
        <li><h5 class="policy-link">Policy</h5></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</footer>
