<nav class="navbar navbar-default site-header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <div class="logo">
        <img src="img/escudo_dominicano.png" alt="escudo dominicano" />
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse main-nav navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-home" href="#home">About</a></li>
        <li><a class="nav-votos" href="#votos">Votos</a></li>
        <li><a class="nav-candidatos" href="#candidatos">Candidatos</a></li>
        <li><a class="nav-hashtag" href="#eligetupresidente2016">#eligetupresidente2016</a></li>
        <li><a class="nav-encuesta" href="#encuesta">Encuesta</a></li>
        <li><a href="#contactos">Disqus</a></li>
      </ul>
      <div class="dropdown">
        <button class="btn btn-default registrate" value="registrate" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Registrate</button>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
