<div class="jumbotron home-container">
  <div class="content-home">
    <a name="home"></a>
    <div class="home-logo">
      <img src='img/escudo_dominicano.png' alt="escudo_dominicano">
    </div>
    <h2>Elecciones Presidenciales 2016</h2>
    <p><b>Las elecciones generales de la República Dominicana</b> del 2016 se celebrarán el domingo 15 de mayo de forma simultánea en todo el territorio del país.
      Con esta pagina queremos probar el impacto de las redes sociales en la vida politica de la Republica Dominicana.</p>
    <hr class="devider"></hr>
    <h5>Vota por el candidato por el cual vas a votar este <b>15 de mayo.</b></h5>
  </div>
</div>
