<div class="auth">
</div>
<div class="policy-outter">
  <div class="input-group jumbotron policy-inner">
    <i class="fa fa-times close-policy-signin"></i>
    <div class="escudo_dominicano_out">
      <div class="escudo_dominicano">
      </div>
    </div>
    <div class="policy-text">
      <section class="privacy">
        <h2>We respect your privacy</p>
        <p>The Eligetupresidente Website is committed to ensuring the privacy of all our users. We collect and retain only such personal information as you choose to provide us. All such information is stored securely and will not be made public, sold, rented or likewise distributed.
            This Privacy Policy governs all pages on the Eligetupresidente Website.</p> <p>It does not apply to pages hosted by other organisations, including <a href="http://www.wikipedia.org">Wikipedia</a> or related organisations or third party sites. Eligetupresidente Website may be linked to the websites of such other parties but those other sites may have their own privacy policies which apply to them.
            By using Eligetupresidente Website you consent to the terms of this Privacy Policy.</p> <p>Eligetupresidente may change the terms of this Privacy Policy from time to time and if such changes are made, we may place notices on this Website so that you can be aware of them. Your continued use of the website will be on the terms of this Privacy Policy as amended from time to time.
      </section>
      <section class="data_collected">
        <h2>Use of anonymous data collected</h2>
        <p>Our web servers collect anonymous data about visits to the Eligetupresidente Website. This information is stored in log files and is sometimes used to create aggregate statistics about when the website is accessed, which pages refer visitors to us, the type of web browsers visitors use, which pages are viewed, etc. These statistics help us understand how the website is used and provide us with valuable information for improving it for you in the future. This data cannot be used to identify you personally.
          We also make use of Google Analytic to collate usage information about the website. This tool places a cookie on your computer (see below about cookies) in order to more accurately collate certain metrics. You may choose not to be part of this anonymous, statistical collation; please review https://tools.google.com/dlpage/gaoptout?hl=en for specific details.

        <h2>Use of personal data collected</h2>
        <p>We do not collect any information from the website that can be used to identify you unless you choose to provide it.
        For example, you can choose to provide your email address, and, if you donate to the campaign, you can provide additional personal contact or payment information.
        Personal information you submit to the website is kept confidential, is stored securely, and is retained only for as long as it is required for the purpose for which it was given. Personal information you provide will not be sold or rented or made public. Personal information is never shared with third parties unless we have your permission or are required to disclose the information by law.
      </section>
      <section class='cookies'>
        <h2>Use of cookies</h2>
        <p>A cookie is a text-only piece of information that a website transfers to your computer's hard disk so that the website can remember your computer.
        We use cookies on the website to permit voting and taking part in the discussion forum.

        To prevent the download of cookies, or otherwise control how cookies are used on your computer, please read the help information supplied with your Internet browser software, or go to: http://www.allaboutcookies.org
      </section>
      <div class="links">
        <h5 class='privacy-link'>Privacy</h5>
        <h5 class="data_collected-link">Data Collected</h5>
        <h5 class="cookies-link">Cookies</h5>
      </div>
    </div>
  </div>
</div>
