<div class="voted-back">
</div>
<div class="voted-out">
  <div class="voted-in jumbotron">
    <i class="fa fa-times close-voted-signin"></i>
    <div class="escudo_dominicano_out">
      <div class="escudo_dominicano">
      </div>
    </div>
    <h2>Gracias por votar!</h2>
    <h3>Ayudanos a llegar a mas Dominicanos en <br>el mundo.</h3>
    <h3>Comparte y usa el tag <br>#eligetupresidenterd2016:</h3>
    <div class="voted-social">
      <a href='https://www.facebook.com/sharer/sharer.php?u=http%3A//www.eligetupresidenterd.com' target="_blank">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href='http://twitter.com/intent/tweet?text=%23eligetupresidenterd2016' target="_blank">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href='https://plus.google.com/share?url=http%3A//www.eligetupresidenterd.com' target="_blank">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
  </div>
</div>
