.candidatos-container
  display: flex !important
  flex-direction: row !important

.img-candidatos
  width: 25%
  height: 207px
  overflow: hidden !important

.img-candidatos img
  width: auto
  height: 100%
  // background-image: url("../img/danilo_img.jpg") !important
  // background-size: cover
  // background-repeat: no-repeat

.datos-candidatos
  width: 65% !important
  border-left: 1px solid #EAEAEA
  .text-candidatos
    margin-left: 10px
  button
    margin-bottom: 20px
    margin-left: 10px

.datos-candidatos a
  display: inherit
  width: 100px
  text-align: center
  padding: 10px 5px
  margin-bottom: 20px
  margin-left: 10px

.votos-candidatos
  width: 15% !important
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  border-left: 1px solid #EAEAEA
  h3
    font-weight: lighter
    margin: 0
    padding: 0
  .votar-btn
    padding: 5px 10px !important
    margin-top: 20px
