@media only screen and (max-width: 768px)
  .container-fluid
    display: inline !important
    margin: 0
    padding: 0
    align-items: center
  .navbar-header
    margin: 0
    padding-left: 30px
    padding-right: 30px
  .navbar-collapse
    border-color: none
  .nav
    display: inline
  .logo
    display: inline

  .section
    max-width: 100% !important
