@media only screen and (max-width: 768px)
  .navbar-collapse
    padding: 20px 40px !important
    border-top: 0 !important
  .container-fluid
    display: inline !important
    margin: 0
    padding: 0
    align-items: center
  .navbar-header
    margin: 0
    padding-left: 30px
    padding-right: 30px
  .navbar-collapse
    border-color: none
  .nav
    display: inline
  .logo
    display: inline

  .section
    max-width: 100% !important

  .input-group
    width: 100% !important

  .voted-in
    width: 100% !important

  .close-head-signin
    width: 90% !important


@media only screen and (max-width: 500px)
  .form_signin
    margin: 0
    margin-right: 40px
  #encuesta-container
    flex-direction: column
  .encuesta-candidatos
    padding-top: 50px
