.nav-container
  position: fixed
  width: 100%
  z-index: 5
  -webkit-transition: .3s ease-in-out
  transition: .3s ease-in-out

.wrapper-main
  padding-top: 90px

.container-fluid
  display: flex
  align-items: center
  justify-content: space-between
  height: 90px
.logo
  height: auto
  justify-content: flex-start
  padding-right: 80px
  img
    width: 50px

#bs-example-navbar-collapse-1 ul
  float: left !important
  justify-content: center

.dropdown
  float: right !important

.dropdown button
  background-image: none !important

#dropdownMenu1
  margin-top: 7px
  margin-left: 20px

.salir
  display: none

.collapse
  justify-content: flex-end
