.container-fluid
  display: flex
  align-items: center
  justify-content: space-between
  height: 90px
.logo
  height: auto
  justify-content: flex-start
  padding-right: 80px
  img
    width: 50px

.collapse
  justify-content: flex-end
