---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include auth.html %}
  <body>
    <div class="nav-container" id="nav-container">
      {% include header.html %}
    </div>
    <div class="wrapper-main">
      <div class="section about-container">
        {% include home.html %}
      </div>

  		<div class="section">
  			{% include votos.html %}
  		</div>

  		<div class="section">
        {% include candidatos.html %}
  		</div>

  		<div class="section">
  			{% include eligetupresidente2016.html %}
  		</div>

  		<div class="section">
  			{% include encuesta.html%}
  		</div>

      <div class="section-disqus">
        {% include contacto.html%}
      </div>

    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
