---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include auth.html %}

    {% include voted.html %}

    {% include policy_terms.html %}

    <div class="nav-container" id="nav-container">
      {% include header.html %}
    </div>
    <div class="wrapper-main">
      <a name="home"></a>
      <div class="section about-container">
        {% include home.html %}
      </div>
      <a name="votos"></a>
  		<div class="section">
  			{% include votos.html %}
  		</div>
      <a name="candidatos"></a>
  		<div class="section">
        {% include candidatos.html %}
  		</div>
      <a name="eligetupresidente2016"></a>
  		<div class="section">
  			{% include eligetupresidente2016.html %}
  		</div>
      <a name="encuesta"></a>
  		<div class="section">
  			{% include encuesta.html%}
  		</div>
      <a name="contactos"></a>
      <div class="section section-disqus">
        {% include disqus.html%}
      </div>

    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
